#![enable(implicit_some)]
(
    border_width: 2,
    margin: 4,
    workspace_margin: 3,
    focused_border_color: "#8febaf",//"#FF0000",
    default_border_color: "#97a5bd",//"#ebaf8f",
    floating_border_color: "#af8feb",//"#8fafeb",
)
